<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>accordion example</title>

  <script src="lib/webcomponents-lite.min.js"></script>
  <script src="lib/custom-elements.min.js" charset="utf-8"></script>
  <script src="lib/shadydom.min.js" charset="utf-8"></script>
  <script src="lib/shadycss.min.js" charset="utf-8"></script>
  <link rel="import" href="components/accordion/accordion.html">
</head>
<body>
  <div class="loading">loading...</div>
  <accordion-element></accordion-element>
</body>
</html>
